
# Backup files
# Compiled binary addons
# Dependencies
# PM2
# Runtime data
# Wrangler
# dotenv environment variables file
*.backup
*.bak
*.log
*.pid
*.pid.lock
*.seed
*.tar.gz
*.zip
.dev.vars
.env
.mf/
.pm2/
.wrangler/
build
core
dist
logs/
node_modules/
pids
pids/
